/* Commenti */
.comments {
  padding: 10px;

  width: 100%;
  overflow: hidden;

  ul {
    list-style-type: none;
  }

  > ul {
    padding-left: 10px;

    > li.comment {
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 35px;

      border: 1px solid #eeeeee;
      padding: 5px 5px;

      .bypostauthor {
        background-color: #ffffcc;
        border: 1px solid #ffe484;
        padding: 5px 5px;
      }

      div.reply {
        text-align: right;
        margin-bottom: 5px;
        a {
          margin-right: 10px;
          padding: 5px 5px;
          border: 1px solid #ccc;
        }
      }

      ul.children {
        margin-top: 10px;
      }

    }
  }



}

div#comments input, div#comments textarea {
  width: 100%;
}

.comments label {
  display: none;
}

@include media-breakpoint-down(lg) {
  .comments {
    width: 100%;
  }
}
