/**
 * partials/header
 * ---
 */


// Header container
.header {

}

// Logo


@include media-breakpoint-up(lg) {
  .logo {
    display: block;
    img {
      width: 48px;
      vertical-align: bottom;
    }
    span {
      font-size: 24px;
    }
    padding: 2px 0px;
    margin: 0px 0px;
  }
}

.logo-img {}
