/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

@import "../../bower_components/bootstrap/scss/bootstrap";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
//@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/comments";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/back-to-top";
@import "partials/print";




.post-thumb {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: Raleway!important;
}





.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.content {
  padding-top: 15px;
}

.author > img {
  float: left;
  margin-right: 20px;
}

h1.title {
  margin-bottom: 10px;
  margin-top: 0px;
  a:hover {
    text-decoration: none;
  }
}

h2.title {
  font-size: 18px;
}

img.single-thumbs {
  overflow: hidden;
  width: 100%;
}

div.single-thumbs {
  background-color: #eeeeee;
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 2px;
  background-image: url("../src/img/pattern-background-light-grey.jpg");
}





article::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: $primary;
}
